@charset "ISO-8859-1";
body{background:green;
	box-sizing:border-box;
}
.submit{
	background:green;
	padding:10px;
	margin:5px;
	width:90px;
	height:40px;
	border-radius:10px;
}.username,.password{
	margin:5px;
	outline:none;
	border:solid 1px;	
	color:#999;
	padding:3px;
	width:200px;
}legend{
	background:white;
	border:solid 1px;
	border-radius:3px;
}p{ margin:5px;
	outline:none;}
	fieldset{
	width:300px;
	height:500px;
	margin:10px;
	position:relative;
	left:490px;
	text-align:center;
	background:white;
	padding:20px;
	border-radius:10px;
	
}